/*********
GENERAL STYLES
*********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

span {
    font-size: 12px;
}

p {
    font-size: 12px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 18px;
}

h3{
    font-size: 15px;
}

/********
HEADER RULES
*********/

header {
    width: 100%;
    background-color: #008cdd;
    min-height: 30px;
}

header ul {
    list-style: none;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-nav .col{
    padding: 5px;
}

/********
BUTTONS
********/

.button {
    padding: 6px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    text-decoration: none;
}

header .button {
    background-color: white;
    color: #008cdd;

}

#what-we-do .button{
    background-color:#008cdd;;
    color: white 
}

#benefits .button{
    background-color: #9593E6;
    color: white;
    padding: 5px 20px;
}

#about-us .button{
    background-color: #9593E6;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
}


/*********
GENERAL BLOCKS
**********/

.container {
    width: 70%;
    margin: 0 auto;

    /*debug*/
    border: black solid 2px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: black solid 2px;

}

/*********
SECTION 1
*********/

.bq {
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.bq i{
    font-size: 30px;
    color: #008cdd;
}

.bq h2{
    padding: 20px 0;
    color: #008cdd;
}

.bq p{
    padding: 20px 0;
}

.bq2 {
    text-align: center;
}

.what-we-do-bq {
    background-color: lightblue;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}


.what-we-do-bq img{
    width: 100%;
    object-fit: cover;
}

#sc1-bq1 {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.row-sc1 {
    height: auto;
}

@media only screen and (max-width: 480px) {
    .row {
        flex-direction: column;
    }

    .bq, .what-we-do-bq {
        margin: 10px;
    }
}

/*********
SECTION 2
*********/

#what-we-do2 {
    background-color: #9593E6;
    padding-top: 50px;
    padding-bottom: 20px;
}

.col-bq {
    margin: 20px;
    color: white;
}

.col-bq img{
    width: 100%;
}

.col-bq h3{
    padding: 20px 0;
}


.row-bq {
    width: 50%;
    display: flex;
    flex-direction: row;
}

#bq-sc2 {
    background-color: white;
    color: black;
    text-align: center;
}

#bq-sc2 i{
    color: black;
    font-size: 12px;
    padding: 10px;
    background-color: #9593E6;
    border-radius: 100%;
}

@media only screen and (max-width: 480px) {
    .row-bq {
        flex-direction: column;
        width: 100%;
    }

}

/***********
SECTION 3
***********/

#partners {
    text-align: center;
}

#partners span{
    padding: 30px 0;
}

#partners h1{
    color: #9593E6;
    padding: 20px 0;
    font-size: 35px;
}

.partner-bq {
    background-color: #9593E6;
    display: flex;
    flex-direction: row;
    min-height: 150px;
    text-align: start;
    color: white;
}
.partner-bq i{
    font-size: 13px;
    color: white;
}

.partner-bq img{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    object-fit: cover;
    padding: 10px;
}

.quote {
    padding: 0 30px;
}

@media only screen and (max-width: 480px) {
    .bq.partner-bq {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        margin: 20px 0;
    }
}

/**********
SECTION 4
**********/

#benefits {
    background-color: #9593E6;
}

#benefits h1{
    color: white;
    text-align: center;
    padding: 30px;
}

#benefits .bq{
    color:#9593E6;
    background-color: white;
}

#benefits span{
    font-size: 40px;
}



/*********
SECTION 5
*********/
#about-us img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    object-fit: cover;
    padding: 10px;
}

#about-us h3{
    color: #9593E6;
    padding: 10px 10px 10px 0;
}

/*********
SECTION 6
*********/
#pricing {
    background-color: #9593E6;
}




